<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Todo List</title>
</head>
<body>

    <main>
        <div>
            <h1>Update List</h1>

            <p><a href="{% url 'todo_list_detail' todo_list.id %}">Back to Todo List Details</a></p>

            <form method="post" action="{% url 'todo_list_update' id=todo_list.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>

</body>
</html>
