<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Todo Item</title>
</head>
<body>

    <main>
        <div>
            <h1>Update item</h1>

            <form method="post" action="{% url 'todo_item_update' id=todo_item.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>

</body>
</html>
