<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo List</title>
</head>
<body>

    <main>
        <div>
            <h1>Are you sure?</h1>

            <p><a href="{% url 'todo_list_detail' todo_list.id %}">Back to Todo List Details</a></p>

            <form method="post" action="{% url 'todo_list_delete' todo_list.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>

</body>
</html>
