<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Todo Item</title>
</head>
<body>

    <main>
        <div>
            <h1>Create a new item</h1>

            <p><a href="{% url 'todo_list_list' %}">Back to Todo Lists</a></p>

            <form method="post" action="{% url 'todo_item_create' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>

</body>
</html>
